<html>
    <head>
        <title>Author - {{ authors_last_name.full_name }}</title>
    </head>
    <body>
        <h1>{{ authors_last_name.full_name }}</h1>
        <ul>
          <li><strong>Born:</strong> {{ authors_last_name.born }}</li>
          <li><strong>Nationality:</strong> {{ authors_last_name.nationality }}</li>
          <li><strong>Notable Work:</strong> {{ authors_last_name.notable_work }}</li>
        </ul>
        <p><a href="{% url 'authors' %}">Back to Authors</a></p>
    </body>
</html>
